# Salary prediction notebook

### Introduction, objectives etc

In [2]:
import pandas as pd
from scipy.stats import zscore

In [3]:
df = pd.read_csv("Salary_Data.csv")
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

# EDA

## Univariate analysis

 Each category

- missing values?
- outliers?
- how many categories for "education"
- how mnay categories for "job title"
- distribution of years of experience?

In [4]:
df.isna().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [5]:
df.describe()

               Age  Years of Experience         Salary
count  6702.000000          6701.000000    6699.000000
mean     33.620859             8.094687  115326.964771
std       7.614633             6.059003   52786.183911
min      21.000000             0.000000     350.000000
25%      28.000000             3.000000   70000.000000
50%      32.000000             7.000000  115000.000000
75%      38.000000            12.000000  160000.000000
max      62.000000            34.000000  250000.000000

In [6]:
df['Age'].describe()

count    6702.000000
mean       33.620859
std         7.614633
min        21.000000
25%        28.000000
50%        32.000000
75%        38.000000
max        62.000000
Name: Age, dtype: float64

In [7]:
features_considered = ['Age', 'Years of Experience', 'Salary']
z_scores = zscore(df[features_considered], nan_policy = 'omit')
z_scores.head()

        Age  Years of Experience    Salary
0 -0.212877            -0.510797 -0.479839
1 -0.738221            -0.840909 -0.953483
2  1.494490             1.139763  0.656907
3  0.312467            -0.180685 -1.048212
4  2.413841             1.965043  1.604195

# Bivariate analysis

- Correlation between years of experience and salary
- scatterplots
- boxplots (all variables against salary and see if median is similar) 
    to understand what factors really affect salary
- categorical variables and their relationships
- how variables relate to salary

In [12]:
df["Job Title"].value_counts

<bound method IndexOpsMixin.value_counts of 0           Software Engineer
1                Data Analyst
2              Senior Manager
3             Sales Associate
4                    Director
                ...
6699    Director of Marketing
6700          Sales Associate
6701        Financial Manager
6702        Marketing Manager
6703          Sales Executive
Name: Job Title, Length: 6704, dtype: object>

In [13]:
unique_values = df['Job Title'].unique()

print(unique_values)

['Software Engineer' 'Data Analyst' 'Senior Manager' 'Sales Associate'
 'Director' 'Marketing Analyst' 'Product Manager' 'Sales Manager'
 'Marketing Coordinator' 'Senior Scientist' 'Software Developer'
 'HR Manager' 'Financial Analyst' 'Project Manager' 'Customer Service Rep'
 'Operations Manager' 'Marketing Manager' 'Senior Engineer'
 'Data Entry Clerk' 'Sales Director' 'Business Analyst' 'VP of Operations'
 'IT Support' 'Recruiter' 'Financial Manager' 'Social Media Specialist'
 'Software Manager' 'Junior Developer' 'Senior Consultant'
 'Product Designer' 'CEO' 'Accountant' 'Data Scientist'
 'Marketing Specialist' 'Technical Writer' 'HR Generalist'
 'Project Engineer' 'Customer Success Rep' 'Sales Executive' 'UX Designer'
 'Operations Director' 'Network Engineer' 'Administrative Assistant'
 'Strategy Consultant' 'Copywriter' 'Account Manager'
 'Director of Marketing' 'Help Desk Analyst' 'Customer Service Manager'
 'Business Intelligence Analyst' 'Event Coordinator' 'VP of Finance'
 'Graphic Designer' 'UX Researcher' 'Social Media Manager'
 'Director of Operations' 'Senior Data Scientist' 'Junior Accountant'
 'Digital Marketing Manager' 'IT Manager'
 'Customer Service Representative' 'Business Development Manager'
 'Senior Financial Analyst' 'Web Developer' 'Research Director'
 'Technical Support Specialist' 'Creative Director'
 'Senior Software Engineer' 'Human Resources Director'
 'Content Marketing Manager' 'Technical Recruiter' 'Sales Representative'
 'Chief Technology Officer' 'Junior Designer' 'Financial Advisor'
 'Junior Account Manager' 'Senior Project Manager' 'Principal Scientist'
 'Supply Chain Manager' 'Senior Marketing Manager' 'Training Specialist'
 'Research Scientist' 'Junior Software Developer'
 'Public Relations Manager' 'Operations Analyst'
 'Product Marketing Manager' 'Senior HR Manager' 'Junior Web Developer'
 'Senior Project Coordinator' 'Chief Data Officer'
 'Digital Content Producer' 'IT Support Specialist'
 'Senior Marketing Analyst' 'Customer Success Manager'
 'Senior Graphic Designer' 'Software Project Manager'
 'Supply Chain Analyst' 'Senior Business Analyst'
 'Junior Marketing Analyst' 'Office Manager' 'Principal Engineer'
 'Junior HR Generalist' 'Senior Product Manager'
 'Junior Operations Analyst' 'Senior HR Generalist'
 'Sales Operations Manager' 'Senior Software Developer'
 'Junior Web Designer' 'Senior Training Specialist'
 'Senior Research Scientist' 'Junior Sales Representative'
 'Junior Marketing Manager' 'Junior Data Analyst'
 'Senior Product Marketing Manager' 'Junior Business Analyst'
 'Senior Sales Manager' 'Junior Marketing Specialist'
 'Junior Project Manager' 'Senior Accountant' 'Director of Sales'
 'Junior Recruiter' 'Senior Business Development Manager'
 'Senior Product Designer' 'Junior Customer Support Specialist'
 'Senior IT Support Specialist' 'Junior Financial Analyst'
 'Senior Operations Manager' 'Director of Human Resources'
 'Junior Software Engineer' 'Senior Sales Representative'
 'Director of Product Management' 'Junior Copywriter'
 'Senior Marketing Coordinator' 'Senior Human Resources Manager'
 'Junior Business Development Associate' 'Senior Account Manager'
 'Senior Researcher' 'Junior HR Coordinator' 'Director of Finance'
 'Junior Marketing Coordinator' nan 'Junior Data Scientist'
 'Senior Operations Analyst' 'Senior Human Resources Coordinator'
 'Senior UX Designer' 'Junior Product Manager'
 'Senior Marketing Specialist' 'Senior IT Project Manager'
 'Senior Quality Assurance Analyst' 'Director of Sales and Marketing'
 'Senior Account Executive' 'Director of Business Development'
 'Junior Social Media Manager' 'Senior Human Resources Specialist'
 'Senior Data Analyst' 'Director of Human Capital'
 'Junior Advertising Coordinator' 'Junior UX Designer'
 'Senior Marketing Director' 'Senior IT Consultant'
 'Senior Financial Advisor' 'Junior Business Operations Analyst'
 'Junior Social Media Specialist' 'Senior Product Development Manager'
 'Junior Operations Manager' 'Senior Software Architect'
 'Junior Research Scientist' 'Senior Financial Manager'
 'Senior HR Specialist' 'Senior Data Engineer'
 'Junior Operations Coordinator' 'Director of HR'
 'Senior Operations Coordinator' 'Junior Financial Advisor'
 'Director of Engineering' 'Software Engineer Manager'
 'Back end Developer' 'Senior Project Engineer' 'Full Stack Engineer'
 'Front end Developer' 'Developer' 'Front End Developer'
 'Director of Data Science' 'Human Resources Coordinator'
 'Junior Sales Associate' 'Human Resources Manager'
 'Juniour HR Generalist' 'Juniour HR Coordinator'
 'Digital Marketing Specialist' 'Receptionist' 'Marketing Director'
 'Social M' 'Social Media Man' 'Delivery Driver']

In [20]:
to_read = open("Non_CS_Jobs.txt")
Non_CS_Jobs = []
while(True):
    content = to_read.readline()
    if not content:
        break
    content = content.strip()
    Non_CS_Jobs.add(content[1: (len(content) - 1)])

    print(content[1: (len(content) - 1)])

Sales Associate
Director
Marketing Analyst
Product Manager
Sales Manager
Marketing Coordinator
Senior Scientist
HR Manager
Financial Analyst
Project Manager
Customer Service Rep
Operations Manager
Marketing Manager
Senior Engineer
Sales Director
Business Analyst
VP of Operation
Recruiter
Financial Manager
Social Media Specialist
Senior Consultant
Product Designer
CEO
Accountant
Marketing Specialist
Technical Writer
HR Generalist
Project Engineer
Customer Success Rep
Sales Executive
Operations Director
Administrative Assistant
Strategy Consultant
Copywriter
Account Manager
Director of Marketing
Customer Service Manager
Business Intelligence Analyst
Event Coordinator
VP of Finance
Graphic Designer
Social Media Manager
Director of Operations
Junior Accountant
Digital Marketing Manager
Customer Service Representative
Business Development Manager
Senior Financial Analyst
Research Director
Creative Director
Human Resources Director
Content Marketing Manager
Technical Recruiter
Sales Representative
unior Designer
Financial Advisor
Junior Account Manager
Senior Project Manager
Principal Scientist
Supply Chain Manager
Senior Marketing Manager
Training Specialist
Research Scientist
Public Relations Manager
Operations Analyst
Product Marketing Manager
Senior HR Manager
Senior Project Coordinator
Digital Content Producer
Senior Marketing Analyst
Customer Success Manager
Senior Graphic Designer
Supply Chain Analyst
Senior Business Analyst
Junior Marketing Analyst
Office Manager
Principal Engineer
Junior HR Generalist
Senior Product Manager
Junior Operations Analyst
Senior HR Generalist
Sales Operations Manager
Senior Training Specialist
Senior Research Scientist
Junior Sales Representative
Junior Marketing Manager
Senior Product Marketing Manager
Junior Business Analyst
Senior Sales Manager
Junior Marketing Specialist
Junior Project Manager
Senior Accountant
Director of Sales
Junior Recruiter
Senior Business Development Manager
Senior Product Designer
Junior Customer Support Specialist
Junior Financial Analyst
Senior Operations Manager
Director of Human Resources
Senior Sales Representative
Director of Product Management
Junior Copywriter
Senior Marketing Coordinator
Senior Human Resources Manager
Junior Business Development Associate
Senior Account Manager
Senior Researcher
Junior HR Coordinator
Director of Finance
Junior Marketing Coordinator
Senior Operations Analyst
Senior Human Resources Coordinator
Junior Product Manager
Senior Marketing Specialist
Senior Quality Assurance Analyst
Director of Sales and Marketing
Senior Account Executive
Director of Business Development
Junior Social Media Manager
Senior Human Resources Specialist
Director of Human Capital
Junior Advertising Coordinator
Senior Marketing Director
Senior Financial Advisor
Junior Business Operations Analyst
Junior Social Media Specialist
Senior Product Development Manager
Junior Operations Manager
Junior Research Scientist
Senior Financial Manager
Senior HR Specialist
Junior Operations Coordinator
Director of HR
Senior Operations Coordinator
Junior Financial Advisor
Director of Engineering
Human Resources Coordinator
Junior Sales Associate
Human Resources Manager
Juniour HR Generalist
Juniour HR Coordinator
Digital Marketing Specialist
Receptionist
Marketing Director
Social M
Social Media Man
Delivery Driver

Filtering out non CS jobs

In [41]:
print(len(df.index))
mask = ~df['Job Title'].isin(Non_CS_Jobs)

# Filter the DataFrame using the mask
filtered_df = df[mask]



print(len(filtered_df.index))
filtered_df.head

6701
3642

<bound method NDFrame.head of        Age  Gender    Education Level           Job Title  \
0     32.0    Male         Bachelor's   Software Engineer
1     28.0  Female           Master's        Data Analyst
2     45.0    Male                PhD      Senior Manager
10    29.0    Male           Master's  Software Developer
18    25.0  Female         Bachelor's    Data Entry Clerk
...    ...     ...                ...                 ...
6227  32.0  Female                PhD      Data Scientist
6230  27.0    Male  Bachelor's Degree   Software Engineer
6241  32.0  Female                PhD      Data Scientist
6244  27.0    Male  Bachelor's Degree   Software Engineer
6255  32.0  Female                PhD      Data Scientist

      Years of Experience    Salary
0                     5.0   90000.0
1                     3.0   65000.0
2                    15.0  150000.0
10                    3.0   75000.0
18                    0.0   35000.0
...                   ...       ...
6227                  9.0  145000.0
6230                  3.0   80000.0
6241                  9.0  145000.0
6244                  3.0   80000.0
6255                  9.0  145000.0

[3642 rows x 6 columns]>

Filtering out null values

In [44]:
print(len(filtered_df.index))
filtered_df = filtered_df.dropna(subset = ['Gender']).reset_index(drop = True)
filtered_df = filtered_df.dropna(subset = ['Education Level']).reset_index(drop = True)
filtered_df = filtered_df.dropna(subset = ['Job Title']).reset_index(drop = True)
filtered_df = filtered_df.dropna(subset = ['Salary']).reset_index(drop = True)

filtered_df.isna().sum()[filtered_df.isna().sum()>0]

print(len(filtered_df.index))
filtered_df.isna().sum()

#there are 0 negative salaries in the dataset, or all salaries are valid
condition = filtered_df['Salary'] < 0
count = condition.sum()
print(count)

3641
3641
0

# Data preprocessing

- Treat out null values
- Treat outliers
- one-hot encode our categorical columns (gender, education, job title)
-